* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgbody {
    background: url("./src/img/airpolytech.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainmenu {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logoimg {
    width: 100px;
    box-sizing: border-box;
    float: left;
}

.navMenu {
    float: right;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            list-style: none;
            a {
                display: block;
                margin: 10px 0;
                padding: 10px 20px;
                text-decoration: none;
                color: #262626;
            }
            a.active, a:hover {
                background: #0132b8;
                color: #fff;
                transition: 0.5s;
            }
        }
    }
}

.clearfix {
    clear: both;
}
