* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgbody {
    background-color: #233761;
}

.bgheader {
    width: 100%;
    height: 100vh;
    background: url("./src/img/airpolytech.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    @include xl {
        width: 819px;
    }
}

.data {
    padding: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 1px 1px 0px #000000;
    h2 {
        color: #ffffff;
        font-size: 40px;
    }
    h3 {
        padding-top: 30px;
        color: #fff;
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .data {
        text-shadow: 1px 1px 0px #000000;
        h2 {
            color: #ffffff;
            font-size: 30px;
        }
        h3 {
            padding-top: 40px;
            color: #fff;
            font-size: 25px;
        }
    }
}

.imgEtud {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    .etudiant {
        width: 900px;
    }
    p {
        padding-left: 20px;
        color: #fff;
    }
    @include xl {
        flex-direction: column-reverse  ;
    }
}

.shortHis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    .military {
        width: 900px;
    }
    p {
        padding-left: 20px;
        color: #fff;
    }
    @include xl {
        flex-direction: column;
    }
}