.gridGallery {
    max-width: 1000px;
    max-height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    @include xl {
        grid-template-columns: 1fr;
        grid-template-rows: 150px;
    }
}